@import url(./assets/css/reset.css);
@import url(./assets/css/variables.css);

:root {
    font-family: var(--police-principale);
}

/*===================================
            BODY
=====================================*/


/*==================================
            HEADER
====================================*/
header {
    padding: 10px 20px;
    display: flex;
}

nav {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

#nav-logo {
    height: 2em;
}

.nav-links {
    display: flex;
    gap: 30px;
    font-weight: bold;
    color: gray;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-social-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    border-right: 1px solid gray;
}

.nav-icons {
    height: 1.7em;
}

.cv-button {
    height: 2.5rem;
    padding: 10px 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 0.75em;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    background-color: #2563eb;
}

.cv-download-icon {
    height: 1.5em;
}








img {
    height: 2.5em;
}